La liste des users !



<div id="player" class="gold card-generator playercard centered card-large fut17 silver">
  <div id="art" class="playercard-art not-draggable"></div>
  <div id="name" class="input-toggle playercard-name">MESSI</div>
  <div id="rating" class="input-toggle playercard-rating">93</div>
  <div id="position" class="input-toggle playercard-position">RW</div>
  
  <div id="attr1" class="input-toggle playercard-attr playercard-attr1">89 PAC</div>
  <div id="attr2" class="input-toggle playercard-attr playercard-attr2">90 SHO</div>
  <div id="attr3" class="input-toggle playercard-attr playercard-attr3">86 PAS</div>
  <div id="attr4" class="input-toggle playercard-attr playercard-attr4">96 DRI</div>
  <div id="attr5" class="input-toggle playercard-attr playercard-attr5">26 DEF</div>
  <div id="attr6" class="input-toggle playercard-attr playercard-attr6">61 PHY</div>
  
  <div id="nation" class="playercard-nation change-nation draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/nations/18.png"></div>
  <div id="club" class="playercard-club change-club draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/clubs/241.png"></div>
  <div id="picture" class="playercard-picture change-player draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/players/158023.png"></div>
  <div class="playercard-chem not-draggable chem-icon style-basic" src="/static/img/chemistry/undefined.png">
      <span id="chem" class="chem-name input-toggle">BASIC</span>
      <span id="ruler" class="hidee"></span>
  </div>
  <input id="custom-text" class="hidee">
</div>





<div id="player" class="gold card-generator playercard centered card-large fut17 gold">
  <div id="art" class="playercard-art not-draggable"></div>
  <div id="name" class="input-toggle playercard-name">MESSI</div>
  <div id="rating" class="input-toggle playercard-rating">93</div>
  <div id="position" class="input-toggle playercard-position">RW</div>
  
  <div id="attr1" class="input-toggle playercard-attr playercard-attr1">89 PAC</div>
  <div id="attr2" class="input-toggle playercard-attr playercard-attr2">90 SHO</div>
  <div id="attr3" class="input-toggle playercard-attr playercard-attr3">86 PAS</div>
  <div id="attr4" class="input-toggle playercard-attr playercard-attr4">96 DRI</div>
  <div id="attr5" class="input-toggle playercard-attr playercard-attr5">26 DEF</div>
  <div id="attr6" class="input-toggle playercard-attr playercard-attr6">61 PHY</div>
  
  <div id="nation" class="playercard-nation change-nation draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/nations/18.png"></div>
  <div id="club" class="playercard-club change-club draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/clubs/241.png"></div>
  <div id="picture" class="playercard-picture change-player draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/players/158023.png"></div>
  <div class="playercard-chem not-draggable chem-icon style-basic" src="/static/img/chemistry/undefined.png">
      <span id="chem" class="chem-name input-toggle">BASIC</span>
      <span id="ruler" class="hidee"></span>
  </div>
  <input id="custom-text" class="hidee">
</div>



<div id="player" class="gold card-generator playercard centered card-large fut17 bronze">
  <div id="art" class="playercard-art not-draggable"></div>
  <div id="name" class="input-toggle playercard-name">MESSI</div>
  <div id="rating" class="input-toggle playercard-rating">93</div>
  <div id="position" class="input-toggle playercard-position">RW</div>
  
  <div id="attr1" class="input-toggle playercard-attr playercard-attr1">89 PAC</div>
  <div id="attr2" class="input-toggle playercard-attr playercard-attr2">90 SHO</div>
  <div id="attr3" class="input-toggle playercard-attr playercard-attr3">86 PAS</div>
  <div id="attr4" class="input-toggle playercard-attr playercard-attr4">96 DRI</div>
  <div id="attr5" class="input-toggle playercard-attr playercard-attr5">26 DEF</div>
  <div id="attr6" class="input-toggle playercard-attr playercard-attr6">61 PHY</div>
  
  <div id="nation" class="playercard-nation change-nation draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/nations/18.png"></div>
  <div id="club" class="playercard-club change-club draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/clubs/241.png"></div>
  <div id="picture" class="playercard-picture change-player draggable ui-draggable"><img src="http://futhead.cursecdn.com/static/img/17/players/158023.png"></div>
  <div class="playercard-chem not-draggable chem-icon style-basic" src="/static/img/chemistry/undefined.png">
      <span id="chem" class="chem-name input-toggle">BASIC</span>
      <span id="ruler" class="hidee"></span>
  </div>
  <input id="custom-text" class="hidee">
</div>