.player-fut:hover
{
    zoom: 0.8;
}

.player-fut{
  width: 202px;
  height: 310px;
  float: left;
  position : relative;
  zoom: 0.6;

  .name{
    position : absolute;
    top: 160px;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

  .rating{
    position : absolute;
    top: 32px;
    left: 39px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }

  .picture{
    position : absolute;
    left: 81px;
    top: 46px;
    img{
      height: 110px;
    }
  }

  .company{
    position : absolute;
    top: 90px;
    left: 39px;
    img{
      width: 39px;
    }
  }

  .nationality{
    position : absolute;
    top: 127px;
    left: 39px;
    img{
      width: 39px;
    }
  }

  .attr1{
    position : absolute;
    top: 186px;
    left: 37px;
    font-weight: 500;
    font-size: 18px;
  }

  .attr2{
    position : absolute;
    top: 209px;
    left: 37px;
    font-weight: 500;
    font-size: 18px;
  }

  .attr3{
    position : absolute;
    top: 232px;
    left: 37px;
    font-weight: 500;
    font-size: 18px;
  }

  .attr4{
    

    position : absolute;
    top: 186px;
    left: 115px;
    font-weight: 500;
    font-size: 18px;

  }

  .attr5{
    position : absolute;
    top: 209px;
    left: 115px;
    font-weight: 500;
    font-size: 18px;

  }

  .attr6{
    position : absolute;
    top: 232px;
    left: 115px;
    font-weight: 500;
    font-size: 18px;

  }
} 

.gold-fut{
  background: url('../../../assets/images/fifa/large-gold-rare.png');
} 

.silver-fut{
  background: url('../../../assets/images/fifa/large-silver-rare.png');
} 

.bronze-fut{
  background: url('../../../assets/images/fifa/large-bronze-rare.png');
}

.other-player{
  float: left;
}