<div class="player-fut" [ngClass]="(player?.rating > 78)?'gold-fut':(player?.rating < 70)?'bronze-fut':'silver-fut'">
  <div class="name">
    {{ player?.name?.toUpperCase() }}
  </div>
  <div class="rating">
    {{ player?.rating | number : '1.0-0'  }}
  </div>
  <div class="picture">
    <img src="{{ player?.picture }}">
  </div>
  <div class="company" *ngIf="player?.company?.picture != null">    
    <img src="../../../assets/images/fifa/companies/{{ player?.company?.picture }}">
  </div>
  <div class="nationality">
    <img src="../../../assets/images/fifa/nationalities/french.png">
  </div>

  <div class="attr1">
    {{ player?.goal }} BUT
  </div>

  <div class="attr2">
    {{ (player?.goal_average_by_match || 0) | number : '1.1-1' }} B/M
  </div>

  <div class="attr3">
    {{ player?.match }} MAT
  </div>

  <div class="attr4">
    {{ player?.assist }} AST
  </div>

  <div class="attr5">
    {{ (player?.assist_average_by_match || 0) | number : '1.1-1' }} A/M
  </div>

  <div class="attr6">
    {{ player?.match_with_stats }} M/S
  </div>
</div>